#main{
	background-color: #C9C9C9;
	height: 1200px;
	width: 600px;
	margin:0 auto;
	padding: 50px;
}

#inner{
	background-color: #F7F7F7;
	height: 300px;
	width: 500px;
	margin: 0 auto;
}
#text{
	font-size: 15px;
	margin:0 auto;
	width: 75%;
	padding-top: 30px;
}